.StoriesConstructorWrapper {
  display: flex;
  justify-content: center;
}

.StoriesConstructor {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  width: 900px;
  min-height: 400px;
}

.StoriesConstructorForm {
  margin-top: 20px;
  width: 80%;
}

.StoriesConstructorButton {
  width: 200px;
}
